.doctor-box {
  border-radius: 8px;
}
.name h1 {
  color: #245264;
}
.doctor-img img {
  width: 125px;
  height: 125px;
  border: 2px solid #245264;
}
.doctor-box h4,
.doctor-box h6 {
  color: #f6921e;
}
@media (max-width: 575px) {

}
