#Privacy{
    padding-bottom: 15px;
}
.item-one h2{
    background-image:url(../images/Group\ 516.png) ;
    height: 200px;
    color: #fff;
    background-size: cover;
    background-position : center bottom;
    font-size: 32px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item-two p,ul{
    color: #4E4E4E;
}