.bg-info
{
    border-radius: 3px;
}
a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.5s ;
}

a:hover
{
    color: #f6921e;
    text-decoration: none;
    
    
}