.icon {
  background-color: #f6921e;
  color: white;
  font-size: 25px;
  text-align: center;
  border-radius: 7px;
  transition: all 0.3s ease-in;
  border: solid transparent;
}
.icon h4 {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.icon:hover {
  background-color: teal;
}
.card-text {
  background-color: teal;
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 7px;
  padding: 10px;
}
.home .card-body h4 {
  transition: all 0.3s ease-in;
}
.home .card-body h4:hover {
    background-color: #f6921e;
}